# For use with direnv
# - `sudo apt install direnv`
#
# Add hook to end of .bashrc:
# eval "$(direnv hook bash)"
# 
# Allow this folder:
# - `direnv allow`
#
# Script as required...
if [ ! -d ".venv" ]; then
  uv venv
fi

# Check if gcloud token is still valid to avoid re-authenticating
if gcloud auth print-access-token --quiet > /dev/null 2>&1; then
  echo "gcloud token is valid, skipping authentication."
  source scripts/setup-env.sh --noauth
else
  echo "gcloud token is not valid, re-authenticating."
  source scripts/setup-env.sh
fi